<div class="login-page mt-5 mb-5">


<h1 class="text-center">Login</h1>

<%= form_tag sessions_path do %>
  <p class="text-center">
    <%= label_tag :username %><br>
    <%= text_field_tag :username, '', class: "form-control" %>
  </p>

  <p class="text-center">
    <%= label_tag :password %><br>
    <%= password_field_tag :password, '', class: "form-control" %>
  </p>

  <p class="text-center">
    <%= submit_tag 'Log in', class: "btn btn-success" %>
  </p>

<% end %>
</div>
