
<div class="container">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="panel-body" >

              <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                  <div class="row">
                    <img class="signup-logo" src="https://trello-attachments.s3.amazonaws.com/5a00dc322b3c3a3c721a6912/5a00e674cdb313f96d9cdb2c/539b280fb58aee03ce2fe36c62fdae39/Logaster-13-vk-sharedImage-1000px.png" alt="Logo">
                  </div>
                  <div class="panel panel-default" >
                  <div class="panel-body" >
                  <%= form_tag sessions_path, class: "form-signin" do %>
                  <p>
                    <%= label_tag :username %>
                    <%= text_field_tag :username, "", class: "form-control" %>
                  </p>

                  <p>
                    <%= label_tag :password %>
                    <%= password_field_tag :password, "", class: "form-control" %>
                  </p>
                  <p>
                    <%= submit_tag 'Sign in' %>
                  </p>
                  <label class="checkbox pull-left">
                      <input type="checkbox" value="remember-me">
                      Remember me
                  </label>
                <div>
                  <a href="help" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </div>
                <div>
                  <a href="" class="text-center new-account">Create an account </a>
                </div>
                  <% end %>
              </div>
            </div>
    </div>
</div>
