<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title alert alert-info">Sign up to continue to $iou</h1>
            <div class="wall">
                <img id="logo" src="https://trello-attachments.s3.amazonaws.com/5a00dc322b3c3a3c721a6912/5a00e674cdb313f96d9cdb2c/539b280fb58aee03ce2fe36c62fdae39/Logaster-13-vk-sharedImage-1000px.png"
                    alt="">
                <%= form_with(model: user, local: true, class: "all-form") do |form| %>
                    <% if user.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                        <ul>
                        <% user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="field">
                      <%= form.label :first_name %>
                      <%= form.text_field :first_name, id: :user_first_name, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :last_name %>
                      <%= form.text_field :last_name, id: :user_last_name, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :username %>
                      <%= form.text_field :username, id: :user_username, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :email %>
                      <%= form.text_field :email, id: :user_email, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :role %>
                      <%= form.select :role, ['','Lender', 'Borrower'], class: "form-control" %>

                    </div>

                    <div class="field">
                      <%= form.label :password %>
                      <%= form.password_field :password, id: :user_password, class: "form-control" %>
                    </div>

                    <div class="field">
                      <%= form.label :password_confirmation %>
                      <%= form.password_field :password_confirmation, class: "form-control" %>
                    </div>

                    <div class="actions">
                      <%= form.submit %>
                    </div>
                  <% end %>
                <!-- <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a> -->
          </div>
      </div>
  </div>
</div>