<p id="notice"><%= notice %></p>  <!-- What is this for? -->
<%= link_to "Logout", '/logout' %>

<div class='container'>
<% if @user.role == "Lender" %>
<img class='user-img img-responsive' src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg">
<% end %>

<% if @user.role == "Borrower" %>
<img class='user-img img-responsive' src="https://assets.entrepreneur.com/content/3x2/1300/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg">
<% end %>

<h3 class="uname">
  <strong>Welcome <%= @user.first_name + ' ' + @user.last_name %></strong><br>
  <strong>Type of user: <%= @user.role %></strong>
</h3>

<% if @user.role == "Lender" %>
  <button type="button" class="btn btn-primary btn-lg to-loan"><%= link_to "INVEST", '/loans#index' %></button>

<% if @a_count > 0 %>
    <div class="container">
      <h2>Active <span class="badge"><%= @a_count %></span></h2>

      <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Guaranteed Tip</th>
            <th>Body</th>
            <th>Requester</th>
            <th>Status</th>
            <th colspan="2"></th>


            <!-- <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          <% @lender_loans.each do |loan| %>
            <% if loan.lender_id == current_user.id && User.find(current_user.id).role == "Lender" && loan.status == "Active" %>
                      <tr>
                        <td><%= sprintf("$%.2f", (loan.amount_in_cents/100)) %></td>
                        <td><%= sprintf("$%.2f", (loan.tip_in_cents.to_f/100)) %></td>
                        <td><%= loan.body %></td>
                        <td><%= loan.user.first_name %></td>
                        <td><%= loan.status %></td>
                        <!-- <td>User.find(loan.user_id).first_name</td> -->
<!--                         <td><%= link_to 'Show', loan %></td>
 -->                        <td><%= link_to 'View - fix link', edit_loan_path(loan) %></td>
                      </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

  <% if @c_count > 0 %>
    <div class="container">
      <h2>Active <span class="badge"><%= @c_count %></span></h2>

      <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Guaranteed Tip</th>
            <th>Body</th>
            <th colspan="2"></th>


            <!-- <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          <% @lender_loans.each do |loan| %>
            <% if loan.lender_id == current_user.id && User.find(current_user.id).role == "Lender" && loan.status == "Active" %>
                      <tr>
                        <td><%= sprintf("$%.2f", (loan.amount_in_cents/100)) %></td>
                        <td><%= sprintf("$%.2f", (loan.tip_in_cents.to_f/100)) %></td>
                        <td><%= loan.body %></td>
                        <td><%= loan.status %></td>
                        <!-- <td>User.find(loan.user_id).first_name</td> -->
<!--                         <td><%= link_to 'Show', loan %></td>
 -->                        <td><%= link_to 'View - fix link', edit_loan_path(loan) %></td>
                      </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

<% end %>


<% if @user.role == "Borrower" %>
  <button type="button" class="btn btn-primary btn-lg to-loan" href="#"><%= link_to "NEW REQUEST", '/loans/new' %></button>
<% end %>
 </div>
