<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="wall">
                <img id="logo" src="https://trello-attachments.s3.amazonaws.com/5a00dc322b3c3a3c721a6912/5a00e674cdb313f96d9cdb2c/539b280fb58aee03ce2fe36c62fdae39/Logaster-13-vk-sharedImage-1000px.png"
                    alt="">
                  <%= form_with(model: loan, local: true, class: "all-form") do |form| %>
                    <% if loan.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

                        <ul>
                        <% loan.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="field">
                      <%= form.label :amount_in_cents, "Amount" %>
                      <%= form.select :amount_in_cents, options_for_select({"$5.00" => 500, "$10.00" => 1000, "$15.00" => 1500, "$20.00" => 2000, "$25.00" => 2500, "$30.00" => 3000}), class: 'form-control' %>
                    </div>

                    <div class="field">
                      <%= form.label :tip_in_cents, "Guaranteed Tip" %>
                      <%= form.select :tip_in_cents, options_for_select({"$0.00" => 000, "$1.50" => 150, "$3.00" => 300, "$4.50" => 450, "$6.00" => 600, "$7.50" => 750, "$9.00" => 900, "$10.50" => 1050}), class: 'form-control' %>
                    </div>

                    <div class="field">
                      <%= form.label :body, "Description" %>
                      <%= form.text_area :body, class: 'form-control' %>
                    </div>

                    <div class="actions">
                      <%= form.submit %>
                    </div>
                  <% end %>
        </div>
      </div>
  </div>
</div>
