<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Amount in cents</th>
      <th>Body</th>
      <th>Status</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead> -->


  <% if @p_count > 0 && User.find(current_user.id).role == "Borrower" %>
    <div class="container">
      <h2 id="loan_index">Pending <span class="badge"><%= @p_count %></span></h2>

      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Guaranteed Tip</th>
            <th>Description</th>
            <th colspan="2"></th>

            <!-- <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
            <% if loan.user_id == current_user.id && User.find(current_user.id).role == "Borrower" && loan.status == "Pending" %>
                      <tr>
                        <td><%= sprintf("$%.2f", (loan.amount_in_cents/100)) %></td>
                        <td><%= sprintf("$%.2f", (loan.tip_in_cents.to_f/100)) %></td>
                        <td><%= loan.body %></td>
                        <td><%= loan.status %></td>
                        <!-- <td>User.find(loan.user_id).first_name</td> -->
<!--                         <td><%= link_to 'Show', loan %></td>
 -->                        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
                        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

  <% if @a_count > 0 %>
    <div class="container">
      <h2 id="loan_index">Active <span class="badge"><%= @a_count %></span></h2>

      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Guaranteed Tip</th>
            <th>Description</th>
            <th colspan="2"></th>


            <!-- <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
            <% if loan.user_id == current_user.id && User.find(current_user.id).role == "Borrower" && loan.status == "Active" %>
                      <tr>
                        <td><%= sprintf("$%.2f", (loan.amount_in_cents/100)) %></td>
                        <td><%= sprintf("$%.2f", (loan.tip_in_cents.to_f/100)) %></td>
                        <td><%= loan.body %></td>
                        <td><%= loan.status %></td>
                        <!-- <td>User.find(loan.user_id).first_name</td> -->
<!--                         <td><%= link_to 'Show', loan %></td>
-->                        <td><%= link_to 'Pay', repay_loans_path(loan) %></td>
                      </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

<!--
  <tbody>
    <% @loans.each do |loan| %>
      <% if loan.user_id == current_user.id && User.find(current_user.id).role == "Borrower" %>
        <tr>
          <td><%= loan.amount_in_cents %></td>
          <td><%= loan.body %></td>
          <td><%= loan.status %></td>
          <td><%= User.find(loan.user_id).first_name %></td>
          <td><%= link_to 'Show', loan %></td>
          <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
          <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <% nil %>
      <% end %>
      <% if User.find(current_user.id).role == "Lender" && loan.lender_id == nil %>
      <tr>
          <td><%= loan.amount_in_cents %></td>
          <td><%= loan.body %></td>
          <td><%= loan.status %></td>
          <td><%= User.find(loan.user_id).first_name %></td>
          <td><%= link_to 'Show', loan %></td>
          </tr>
      <% else %>
          <% nil %>
      <% end %>
    <% end %>
  </tbody>
</table> -->

<% if @p_count > 0 && User.find(current_user.id).role == "Lender" %>
    <div class="container">
      <h2 id="loan_index">Pending <span class="badge"><%= @p_count %></span></h2>

      <div class="table-responsive table-striped">
      <table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Guaranteed Tip</th>
            <th>Description</th>
            <th>Requester</th>
            <th>Status</th>
            <th colspan="2"></th>

            <!-- <th>City</th> -->
          </tr>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
            <% if User.find(current_user.id).role == "Lender" && loan.status == "Pending" %>
                <tr>
                  <td><%= sprintf("$%.2f", (loan.amount_in_cents/100)) %></td>
                  <td><%= sprintf("$%.2f", (loan.tip_in_cents.to_f/100)) %></td>
                  <td><%= loan.body %></td>
                  <td><%= loan.user.first_name %></td>
                  <td><%= loan.status %></td>
                  <!-- <td>User.find(loan.user_id).first_name</td> -->
                          <td><%= link_to 'Show', loan %></td>
                         <!--  <td><%= link_to 'Edit', edit_loan_path(loan) %></td> -->
                  <!-- <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>


<br>

<% if current_user.role == "Borrower" %>
  <p id="link_to" /><%= link_to 'New Loan', new_loan_path %></p>
<% end %>
