<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Amount in cents</th>
      <th>Body</th>
      <th>Status</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <% if loan.user_id == current_user.id && User.find(current_user.id).role == "Borrower" %>
        <tr>
          <td><%= loan.amount_in_cents %></td>
          <td><%= loan.body %></td>
          <td><%= loan.status %></td>
          <td><%= User.find(loan.user_id).first_name %></td>
          <td><%= link_to 'Show', loan %></td>
          <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
          <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <% nil %>
      <% end %>
      <% if User.find(current_user.id).role == "Lender" && loan.lender_id == nil %>
      <tr>
          <td><%= loan.amount_in_cents %></td>
          <td><%= loan.body %></td>
          <td><%= loan.status %></td>
          <td><%= User.find(loan.user_id).first_name %></td>
          <td><%= link_to 'Show', loan %></td>
          </tr>
      <% else %>
          <% nil %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
