<h1>Repayment</h1>

<% tip = sprintf("$%.2f", (@loan.tip_in_cents/100)) %>
<% og_loan = sprintf("$%.2f", (@loan.amount_in_cents/100)) %>

<% full_amount = @loan.tip_in_cents + @loan.amount_in_cents %>

<% total = sprintf("$%.2f", (full_amount/100)) %>

<p>
  Loan Amount: <%= og_loan %>
</p>

<p>
  Guaranteed Tip: <%= tip %>
</p>

<p>
  Total: <%= total %>
</p>

<% if User.find(current_user.id).role == "Borrower" %>
	<%= form_for @loan do |form| %>

	    <%= form.hidden_field(:status, :value => "Closed") %>

	    <%= form.submit "Repay" %>
	<% end %>
<% end %>
