<p id="notice"><%= notice %></p>
<%= @invester.email %>
<p>
  <strong>Amount:</strong>
  <%= sprintf("$%.2f", (@loan.amount_in_cents/100)) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @loan.status %>
</p>

<% if User.find(current_user.id).role == "Borrower" %>
	<%= link_to 'Edit', edit_loan_path(@loan) %> |
	<%= link_to 'Back', loans_path %>
<% end %>

<% if User.find(current_user.id).role == "Lender" %>
	<%= link_to 'Invest', edit_loan_path(@loan) %> |
	<%= link_to 'Back', loans_path %>
<% end %>
