<!DOCTYPE html>
<html>
  <head>
    <title>FinalPitchApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', root_path %> | <%= link_to 'Signup', 'users#new' %>
    <% end %>

    <%= yield %>
  </body>
</html>
