<!DOCTYPE html>
<html>
  <head>
    <title>FinalPitchApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<<<<<<< HEAD
   <!--  <% if current_user %> -->
      <!-- Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %> -->
     <!-- <% else %> -->
      <!-- <%= link_to 'Login', root_path %> | <%= link_to 'Signup', 'users#new' %> -->
    <!-- <% end %> -->
=======
    <header>
      <% if current_user %>
        Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
      <% else %>
        <%= link_to 'Login', root_path %> | <%= link_to 'Signup', '/users/new' %>
      <% end %>      
    </header>
>>>>>>> 7d50f3753f0ed95c83a7216c3656ff8562d65869

    <%= yield %>
  </body>
</html>
